/*
 * For all media (print, screen)
 */

/* you can import partial SCSS files */
/* @import '_valiables'; */
/* @import '_toc'; */
/* ... */

@import '_variables';
@import '_lib-prism-okaidia';
@import '_lib-override';
@import '_base';
@import '_counter';
@import '_media';
@import '_toc';
// @import '_footnote';

/* and more... 🖋 */

// hrで改ページ
hr.page-wrap {
  break-before: page;
  visibility: hidden;
  margin: 0px;
  padding: 0px;
  height: 1px;
}

span.author {
  display: block;
  text-align: right;
}
